<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Montecarluni" packages="">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="Error">
            <AppenderRef ref="stdout"/>
        </Root>
        <Logger name="com.lunivore.hellbound" level="error"/>
    </Loggers>
</Configuration>